* {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-image: url(../img/pendu.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  text-align: center;
  color: rgb(165, 16, 245);
  margin: 30px 0 30px 0px;
  font-size: 4em;
  font-family: cursive;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-letters {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  border-radius: 15px;
  margin: 8px;
  box-shadow: 3px 3px 3px rgb(248, 8, 128);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.tirets {
  display: inline-block;
  text-align: center;
  margin-top: 150px;
  justify-content: space-around;
}

.tirets {
  display: inline-block;
  text-align: center;
  margin-top: 150px;
}

.tiret {
  font-size: 150px;
  letter-spacing: 25px;
  color: rgb(7, 107, 5);
}

.resultats {
  color: #f20ac4;
  text-align: center;
  font-size: 48px;
  border: 2px solid #fff;
  border-radius: 20px;
  width: 500px;
  background-color: bisque;
  font-family: cursive;
}
